body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif   ;
}



summary {
    cursor: pointer;
    color: #1C1C1C;
    border-radius: 50px;
}

summary p {
    color: white;
}

ul {
    background-color: #1C1C1C;
    list-style: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

details {
    background-color: #1C1C1C;
    border-radius: 5px;
}

li {
    color: aliceblue;
}

.cartao {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -20px;
    border-radius: 10px;
}

.card {
    display: grid;
    gap: 10px;
}