body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif   ;
}


summary {
    cursor: pointer;
    color: #1C1C1C;
}

summary p {
    color: white;
}

ul {
    background-color: #1C1C1C;
}

details {
    background-color: #1C1C1C;
}

li {
    color: aliceblue;
}

div {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1C1C1C;
    margin-top: -20px;
}